*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  outline: none;
}

body{
  font-family:'Montserrat', sans-serif;;
  background-color: #4C9A91;;
  transition: backgound-color 300ms ease-in-out;
}

.App {
  max-width: 1280px;
  margin: 0 auto;

}

.working{
  background:#E7626C ;
}


.hidden {
  display: none;
}

.pomodoro {

  margin: 0 auto ;
  height: 490px;
  width: 594px;
  border-radius: 10px;
}

.pomodoro .timer {
  color: #f4eddb;
  font-size: 200px;
  font-family: 'Montserrat', sans-serif;
}

.button-container {
  width: 100%;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-evenly;

}
.pomodoro button{
  background: none;
  text-align: center;
  border:none;
  color: #f4eddb;
  height: 22px;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
}
.pomodoro .details {
  display: flex;
  flex-direction: column;
  margin-top: 79px;
  align-items: start;
  justify-content: center;

}
.pomodoro .details p{
  margin: 4px;
  font-size: 18px;
  color: #f4eddb;
}

@media (max-width: 768px) {

  body{
    font-family:'Montserrat', sans-serif;;
    background-color: #4C9A91;
    font-size: 13px;
    transition: backgound-color 300ms ease-in-out;
  }
  .pomodoro {
    margin: 0 auto ;
    height: 436px;
    width: 375px;
    border-radius: 10px;
  }
  .pomodoro button{
    background: none;
    text-align: center;
    border:none;
    color: #f4eddb;
    height: 22px;
    font-weight: 700;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 20px;
  }

  .pomodoro .timer {
    color: #f4eddb;
    font-size: 90px;
    font-family: 'Montserrat', sans-serif;
  }
  .pomodoro .details {
    display: flex;
    flex-direction: column;
    margin-top: 79px;
    align-items: start;
    justify-content: center;

  }
  .pomodoro .details p{
    margin: 3px;
    font-size: 15px;
    color: #f4eddb;
  }
}